:root {
	--clr-bg: white;
}

.body {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'arial', sans-serif;
	margin: 0;
}

#app {
	display: grid;
	place-items: center;
	min-height: 100dvh;
	background: var(--clr-bg);
	filter: invert();
}
